 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Open sans' sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
}

.hero {
    display: flex;
    max-width: 900px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.hero img {
    width: 60%;
    object-fit: cover;
    border-radius: 2px 0 0 2px;
}
.hero-text {
    width: 40%;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-text h1 {  
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 10px;
	text-align: center;
}
.hero-text p {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 20px;
	text-align: center;
}
.hero-text button {
    background-color: red;
    color: white;
    border: none;
	margin: 0px auto;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.hero-text button:hover {
    background-color: darkred;
}